// COLORS
$primary-color: #4CAF50; // Emerald Green
$secondary-color: #FFC107; // Amber

$white-color: #FFFFFF; // Pure White
$dark-grey: #1C1C1E; // Rich Black
$light-grey: #F5F5F5; // Soft Light Grey

$dark-blue-text: #2C3E50; // Prussian Blue - Recommended
$accent-color: #FF5722; // Coral Orange for Highlights


// FONT SIZE
$default-font-size: 1.8rem; // Body Text
$big-font-size: 3.5rem; // Main Headers
$mid-font-size: 2.2rem; // Subheadings
$small-font-size: 1.4rem; // Captions/Labels

